
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.single-user{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid whitesmoke;
  display: flex;
  vertical-align: middle;
  box-shadow: 0.3px 0.3px 0.5px rgba(0,0,0,0.2);;
}
.single-user:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);;
}
.single-user p{
  margin: 10px;
}
.single-user img{
margin-left: auto;
margin-right: 0;
}
.users-list{
  max-width: 600px;
  margin:auto;
 
}


